html,body{
	height: 100%;
}
.home-wrap{
	width: 100%;
	height: 100%;
	position: relative;
}
.home-left,.home-right{
	width: 13%;
	height: 100%;
	float: left;
	position: relative;
	overflow: hidden;
	background: url(../image/sky.jpg) no-repeat center;
	background-size: 100% 100%;
}
.home-star{
	width: 30px;
	height: 30px;
	background: url("../image/star.png") no-repeat;
	background-size: 100%;
	position: absolute;
	animation:flash 1s alternate infinite;
}
/*旋转*/
.home-star:hover{
	transform:scale(2,2) rotate(180deg) !important; 
	transition:all 1s;
}
@keyframes flash{
	0% {opacity:0};
	100% {opacity:1};
}
@-moz-keyframes flash {
	0% {opacity:0};
	100% {opacity:1};
}
@-webkit-keyframes flash{
	0% {opacity:0};
	100% {opacity:1};
}
@-o-keyframes flash {
	0% {opacity:0};
	100% {opacity:1};
}
/*登入框css--------------*/
.home-login{
	width:400px;
	height:360px;
	background: #fff;
	border:1px solid #ccc;
	position: fixed;
	left:0;
	top:0;
	z-index: 10;
	display: none;
}
.home-login_move{
	width:100%;
	height:36px;
	background: #ccc;
	cursor: move;
}
.home-login_close{
	width:36px;
	height: 36px;
	display: block;
	color:#fff;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	float: right;
	cursor: pointer;
}
/*内容css----------------*/
.home-content{
	width: 74%;
	/*max-width:1200px;*/
	height: 100%;
	float: left;
}
.home-head{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #eeeeee;
}
.home-headImg{
	width: 60px;
	height: 60px;
	display: block;
	float:left;
	border-radius: 100%;
	margin: 10px 30px;
	overflow: hidden;
	cursor: pointer;
}
.home-headImg > img{
	width: 100%;
	height: 100%;
	display: block;
}
.home-menuDiv{
	width: 700px;
	height: 100%;
	float: right;
	position: relative;
}
.home-menu{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
}
.home-menu > li{
	width: 174px;
	height: 100%;
	display: inline-block;
	float: left;
	line-height: 80px;
	text-align: center;
	font-size: 18px;
	font-family:"微软雅黑";
	color: #333;
	cursor: pointer;
	border-left: 1px solid #eee;
}
.home-menu > li.home-selectLi{
	font-weight: bold;
}
.home-bgSpan{
	width: 174px;
	height: 100%;
	display: block;
	position: absolute;
	background: #000;
	left: 1px;
	top: 0;
	opacity: 0.4;
	z-index: 1;
}
.textA{
	width: 50px;
	height: 50px;
	opacity: 0.5;
	filter:alpha(opacity=50);
	background: red;
}